<a href="https://colab.research.google.com/github/yojulab/learn_pythons/blob/master/codes/02_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 변수 재사용
- 변수명과 변수값으로 구성

In [ ]:
first_string="1"
second_string="0"
thrid_string="2"
print(first_string, second_string, thrid_string)

1 0 2

In [ ]:
temp_string="0"
second_string=first_string
first_string=temp_string

print(first_string, second_string, thrid_string)

0 1 2

In [ ]:
first_string=thrid_string
thrid_string=temp_string

print(first_string, second_string, thrid_string)

2 1 0

In [ ]:
thrid_string=second_string
second_string=temp_string

print(first_string, second_string, thrid_string)

2 0 1

## 외부 값 입력

### 변수값 종류 확인

In [ ]:
first = 'first value'
second = '5'
third = 3
print_string = f'first:{first}, second:{second}, third:{third}'
print(print_string)

first:first value, second:5, third:3

In [ ]:
# second + third
# type(5), type('5'), type(4.5)
print_string = f'first:{first} {type(first)}, second:{second}/{type(second)}, third:{third}-{type(third)}'
print(print_string)

first:first value <class 'str'>, second:5/<class 'str'>, third:3-<class 'int'>

### datatype 변경

In [ ]:
# int(second)
second_value = int(second)
print(f'{second_value} / {type(second_value)}')

5 / <class 'int'>

In [ ]:
result = second_value + third
print(f'{result} / {type(result)}')

8 / <class 'int'>

In [ ]:
result_value = str(result)
print(f'{result_value} / {type(result_value)}')

8 / <class 'str'>

In [ ]:
int(first)

ValueError: invalid literal for int() with base 10: 'first value'

### input()

In [ ]:
# input()
# fourth = input()
print(f'{fourth} / {type(fourth)}')

345
345 / <class 'str'>

In [ ]:
# fourth + third
int(fourth) + third    # datatype casting

348

### toy quest
- 외부에서 숫자 두 개를 받아 덧셈 연산 결과 출력

In [ ]:
input_first = input('input first')
input_second = input('input second')
# print(f'{input_first} / {type(input_first)}')
# print(f'{input_second} / {type(input_second)}')
input_first_value = int(input_first)
input_second_value = int(input_second)
result = input_first_value + input_second_value
print(f'{result} = {input_first_value} + {input_second_value}')

input first4
input second5
9 = 4 + 5

## 사칙연산

In [ ]:
7 + 3, 7 - 3, 7 * 3, 7 / 3, 7 % 3

(10, 4, 21, 2.3333333333333335, 1)

## booleans

### ture or false

In [3]:
# second = False
# first = True
# first = true  # error
# second = false  # error
second = bool(0)
first = bool(1)
print(f'first:{first}/{type(first)}, second:{second}/{type(second)}')

first:True/<class 'bool'>, second:False/<class 'bool'>

In [4]:
not first, not second

(False, True)

### 부등호와 boolean

In [ ]:
5 < 7 # 5는 7보다 작다, 7은 5 보다 크다

True

In [1]:
5 < 7, 5 > 7, 5 == 7, 5 <= 7, 5 >= 7, 5 != 7

(True, False, False, True, False, True)

In [8]:
first = 5
second = 7
first < second, first > second, first == second, first <= second, first >= second, first != second,

(True, False, False, True, False, True)

In [9]:
not (first < second), not (first > second), not (first == second)

(False, True, True)

### and 와 or

In [13]:
# if 5 < 7 :
#   if 10 < 7:

5 < 7, 7 < 10, (5 < 7 and 7 < 10)

(True, True, True)

In [ ]:
first = 5
second = 7
third = 10